@import 'styles/Variables';

.wpResetPasswordField {
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.wpResetPasswordFieldLabel {
  font-weight: bold;
}

.wpResetPasswordSubmitForm {
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #4CAF50 !important; 
  color: white;
  cursor: pointer;
}

.wpResetPasswordSubmitForm:hover {
  background-color: #04AA6D !important;
}

.wpResetPasswordFormSubmitted {
  font-weight: bold;
  font-style: italic;
}

.wpResetPasswordError {
  color: red;
}

