@import 'styles/Variables';

.prevSearchResults {
    width: 200px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #008CBA !important; 
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
  }
  
.nextSearchResults {
    width: 200px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #008CBA !important; 
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
  }

  .disableButton {
    width: 200px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #CCC !important; 
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
  }

  .searchResultView {
    width: 100%;
    text-align: right;
  }

  .searchResultViewLink {
    width: 100px;
    text-align: center;
    padding: 2px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #4caf50 !important;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
  }
