name: render readme

# Controls when the action will run
on:
  repository_dispatch:
    types: [push-live] 
  push:
    branches: main   

jobs:
  update_templates:
    name: "Update Templates"
    runs-on: ubuntu-latest
    steps:
    - name: update README
      run: |
          git add README.md 's/<reponame>/'${{ github.event.repository.name }}'/'
          git commit -m "Re-build README.md" || echo "No changes to commit"
          git push origin master || echo "No changes to commit"
