name: render readme

# Controls when the action will run
on:
  repository_dispatch:
    types: [push-live] 
  push:
    branches: main
  
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Use Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Commit and push if changed
        run: |-
          git diff
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "README-bot"
          git add -A
          git commit -m "Updated content" || exit 0
          git push
      - name: Get current date
        run: echo "::set-output name=today::$(date +'%Y-%m-%d')"
      - name: Update GitHub Profile README
        uses: theboi/github-update-readme@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          header: "Portfolio Blueprint"
          subhead: "Last updated: ${{ steps.date.outputs.today }} "
          footer: "**[illustrate.digital](https://www.illustrate.digital)**"
          ref: "main"
